.w150{width: 150px;}
.h150{height: 150px;}
.w300{width: 300px;}
.w200{width: 200px;}
.h200{height: 200px;}
.bgr-base{background: #6964e2}
.bgr-base2{background: #102b3e}
.bgr-base3{background: #ced8e1}
.flex{display: flex;}
.w800{width: 800px;}
.h50{height: 50px;}
.h100{height: 100px;}
.bor-rad{border-radius: 10px;}
.bot{height: 30px;
     width: 70px;
    border-radius: 5px;
    position: absolute;
    left:100px;
    }
.jut-con-cen{justify-content: center;}
.w100{width:100px;}
.al-it-cent{align-items: center;}
.marg-top30px{margin-top: 30px;}
.bor-rad50{border-radius: 50px;}
.marg10px{margin: 10px;}
.colum{flex-direction: column;}
.text-cent{text-align: center;}
.marg0px{margin: 0px;}
.pos-cent{position: center}
.box-size-bord{box-sizing: border-box;}
.fl-wrap{flex-wrap: wrap;}
.bor-rad-cirkl{border-radius: 50%;}